:root{
  --filter-panel-width:240px;
  --chip-height:24px;

  --icon-mixin:{
    background-position: center center;
    background-repeat: no-repeat;
    min-width:24px;
    min-height:24px;
  };
}

.pageContent{
  padding:16px 5%;
}
/*section styles*/
.material-section{
  padding-bottom: 16px;
}
.material-section--title{
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -.012em;
  line-height: 32px;
  color: var(--secondary-text-color);
  padding:16px 8px;
}

/*card styles*/
.material-card{
  min-width: 250px;
  overflow: hidden;
  @apply(--layout-vertical);
  position:relative;
  /*width:calc(100% - 16px);*/
  margin:8px;
  @apply(--shadow-elevation-2dp);
  border-radius: var(--border-radius);
  background-color: white;

  &--title{
    padding:16px;
    &[class*=icon-]{
      padding-left:56px;
      background-position: 16px center !important;
    }
  }
  &--title, &--title *{
    font-size:20px !important;
    color:var(--primary-text-color) !important;
    display: block;
    & a{
      background: var(--icon-launch-external) center right no-repeat;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &--content{
    padding:8px 16px;
    padding-top:0;
    &--secondary{
      opacity:0.5;
      &>[class*="icon-"]{
        width:16px;
        height:16px;
        display:inline-block;
        background-size:16px;
        vertical-align:middle;
      }
    }
    & ~ &--actions{
      padding-top:0;
    }
  }
  &--actions{
    @apply(--layout-horizontal);
    @apply(--layout-wrap);
    padding:8px;

  }
}

[class*="icon-"]{
  @apply(--icon-mixin);
}
.icon-update{
  background-image: var(--icon-update);
}
.icon-timeline{
  background-image: var(--icon-timeline);
}
.icon-thumbs-up-down{
  background-image: var(--icon-thumbs-up-down);
}
.icon-group-add{
  background-image: var(--icon-group-add);
}
.icon-gps-fixed{
  background-image: var(--icon-gps-fixed);
}
.icon-multiline-chart{
  background-image: var(--icon-multiline-chart);
}
.icon-report{
  background-image: var(--icon-report);
}
.icon-info-outline{
  background-image: var(--icon-info-outline);
}
.icon-profile-circle{
  background-image: var(--icon-profile-circle);
}


/*button mixin*/
.reportal-button{
  @apply(--reportal-button);
  @apply(--shadow-transition);
  text-transform: uppercase;
  color: var(--primary-text-color) !important;
  text-decoration:none !important;
  box-shadow:0;
  &:hover{
    color:var(--primary-text-color) !important;
    @apply(--shadow-elevation-2dp);
  }
  &[class*=icon-]{
    padding-left:40px;
    background-position: 8px center !important;
  }
}

/*kpi digit*/
table.kpi-digit td:not([class*="_chc"]), .kpi-digit{
  padding: 0 !important;
  margin: 0 !important;
  height: auto !important;
  width: auto !important;
  font-size: 40px !important;
  font-weight: 400 !important;
}
/* a triangle between kpi tiles in customer journey */
.triangle-right {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 20px;
  border-color: transparent transparent transparent var(--disabled-text-color);
}

/*filter panel styles*/
.filter-panel{
  padding:8px;
  border-right: 1px solid var(--divider-color);
  min-width:var(--filter-panel-width);

  &>*:not(:first-child) {
    margin-top:16px;
  }
}

/* filter-container styles */
.fc-container {
  background: transparent !important;
  border-radius: 0 !important;
  border:0 !important;
  max-width: calc(var(--filter-panel-width) - 16px) !important;

  &>.fc-title-area,
  &>.fc-filter-summary-wrapper{
    display: none;
  }
  & .fc-filter{
    padding: 8px 0 !important;
    border-bottom:0 !important;
    margin: 0 !important;

    &>.btn-base-list{
      border:0 !important;
      border-radius: 0 !important;
      &>li{
        line-height: 16px  !important;
        padding: 8px 16px 8px 8px  !important;
        background: transparent  !important;
        border: 0 !important;
      }
    }
  }
  & .fc-filter-title{
    color: var(--secondary-text-color)  !important;
    margin: 0 !important;
    font-weight:bold;
  }

}

/* select2 styles */
.select2-container{
  &> .select2-choices{
    background: transparent;
    border: 0;
    border-bottom: 1px solid var(--divider-color);

    &>.select2-search-choice{
      @apply(--layout-horizontal);
      border: 0 !important;
      border-radius: var(--chip-height) !important;
      padding: 0;
      height: var(--chip-height) !important;
      background: var(--divider-color) !important;
      margin: 4px !important;
      @apply(--shadow-elevation-2dp);

      &>div{
        padding-left:12px;
        line-height: var(--chip-height);
        font-size:12px;
      }
    }
    & .select2-search-choice-close{
      position:relative !important;
      top:initial;
      right:initial;
      bottom:initial;
      left:initial;
      margin-left: 4px;
      width: var(--chip-height);
      height: var(--chip-height);
      border-radius: 50%;
      background:var(--icon-cancel-circle) center center no-repeat !important;
      opacity: 0.42;
      @apply(--transition);

      &:hover{
        opacity: 0.8;
      }
    }
  }
  &.select2-container-active> .select2-choices{
    box-shadow: none !important;
    border:0;
    border-bottom: 1px solid var(--default-primary-color);
  }

}
.select2-drop{
  @apply(--shadow-elevation-4dp);
  margin-top: 0 !important;
  border-radius: var(--border-radius);

  &.select2-drop-active{
    border:0 !important;
  }
  &>.select2-results{
    margin:0 !important;
    padding: 8px 0 !important;

    & .select2-highlighted{
      background: var(--default-primary-color) !important;

      &>.select2-result-label{
        color: var(--text-primary-color) !important;
      }
    }
    & .select2-result-label{
      padding: 0 16px !important;
      line-height: 48px !important;
    }
  }
}

