:root{
  --filter-panel-width:240px;
}

.pageContent{
  padding:16px 5%;
}
/*section styles*/
.material-section{
  padding-bottom: 16px;
}
.material-section--title{
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -.012em;
  line-height: 32px;
  color: var(--secondary-text-color);
  padding:16px 8px;
}

/*kpi digit*/
table.kpi-digit td:not([class*="_chc"]), .kpi-digit{
  padding: 0 !important;
  margin: 0 !important;
  height: auto !important;
  width: auto !important;
  font-size: 40px !important;
  font-weight: 400 !important;
}


/*filter panel styles*/
.filter-panel{
  padding:8px;
  border-right: 1px solid var(--divider-color);
  min-width:var(--filter-panel-width);

  &>*:not(:first-child) {
    margin-top:16px;
  }
}


