
.userActions{
  & .admin-menu{
    background-image: url(data:image/svg+xml,%3Csvg%20fill%3D%22%238c8c8c%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M12%202C6.48%202%202%206.48%202%2012s4.48%2010%2010%2010%2010-4.48%2010-10S17.52%202%2012%202zm0%203c1.66%200%203%201.34%203%203s-1.34%203-3%203-3-1.34-3-3%201.34-3%203-3zm0%2014.2c-2.5%200-4.71-1.28-6-3.22.03-1.99%204-3.08%206-3.08%201.99%200%205.97%201.09%206%203.08-1.29%201.94-3.5%203.22-6%203.22z%22/%3E%0A%3C/svg%3E);
    padding-left: 48px;
    min-height: 24px;
    background-repeat: no-repeat;
    position: relative;

    & .reportal-admin-list{
      background-image: url(data:image/svg+xml,%3Csvg%20fill%3D%22%238c8c8c%22%20height%3D%2218%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2218%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M7.41%207.84L12%2012.42l4.59-4.58L18%209.25l-6%206-6-6z%22/%3E%3C/svg%3E);
      background-position: 24px 4px;
      background-repeat: no-repeat;
      background-color:transparent;
      border:0;
      border-radius:0;
      width:48px;
      cursor:pointer;

      &:hover{
        background-color:transparent !important;
      }
    }
  }
}

.admin-menu{
  & li{
    *width: 112px;
    box-shadow:0 4px 5px 0 rgba(0, 0, 0, 0.14),0 2px 4px -1px rgba(0, 0, 0, 0.4);
    padding:0;
    line-height:48px;
    margin-left:-112px;
    border:0;
    
    &:last-child{
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }
  &:hover li:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    box-shadow:0 4px 5px 0 rgba(0, 0, 0, 0.14),0 1px 10px 0 rgba(0, 0, 0, 0.12),0 2px 4px -1px rgba(0, 0, 0, 0.4);
  }
  & a{
    padding-left:16px;
    font-size:14px;
    color:inherit;
    line-height:48px !important;

    &:hover{
      background-color: var(--primary-background-color);
      color:inherit;
    }
  }
}
