.reportal-header {
  width: 100%;
  height: 56px;
  background: var(--header-background-color,var(--default-primary-color));
  color: var(--header-text-color,var(--primary-text-color));
  padding: 0 16px;
  /*@apply --shadow-elevation-2dp;*/
  @apply --header-border;
  display:none;

  @media screen and (max-width:768px){
    @apply(--layout-horizontal);
    @apply(--layout-center);
  }

  &--menu-toggle {
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    cursor:pointer;
    &>svg{
      fill:var(--header-text-color,var(--text-primary-color));
    }
  }
  &--title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0;
    padding-left:32px;
    font-size: 24px;
    font-weight: 400;
    color: var(--header-text-color,var(--text-primary-color));
    height: 56px;
    line-height: 56px;
    @apply(--layout-flex);
  }
}

.reportal-bar{
  @media screen and (min-width:769px) {
    height: 64px;
    background-color: var(--header-background-color, var(--default-primary-color));
    @apply --header-border;
    @apply --layout-horizontal;
    @apply --layout-wrap;
    @apply --layout-center;
  }
}

.scrollable-header {
  @apply --layout-fixed-top;
}

.company-logo,.user-actions{
  padding-left:16px;
  padding-right:16px;
}
