.reportal-horizontal-menu{
  padding-left:56px;
  padding-right:56px;
  @apply --layout-flex;
}
.reportal-horizontal-menu>.yui3-menu{
  background:none;
  padding:0;
  overflow: visible;
  text-align:center;

  & .css-menu-topitem{
    border:0 !important;
    background:none;
    border-radius:var(--border-radius) !important;
    box-shadow:none;
    padding: 0;
    margin: 0 8px;

    &:hover,
    &.css-menu-selected{
      background:var(--primary-background-color) !important;
      text-decoration:none !important;

      & .css-menu-toplabel {
        font-weight:600;
      }
    }
  }
  & ul.reportal-clearfix{
    display:inline-block;
  }
  &  .css-menu-toplabel {
    background:transparent !important;
    text-shadow:none;
    border-radius:var(--border-radius) !important;
    color: rgba(18,24,33,0.87);
    padding:0 8px;
  }
}

@media screen AND (min-width:0) AND (max-width:768px) {

  .reportal-horizontal-menu{
    padding: 8px 0;
    & ul{
      display: block !important;

      &>li.css-menu-topitem{
        background: none;
        float: none;
        display: block;
        min-height: 48px;
        margin: 0 !important;
        border-radius:0 !important;

        &>a.css-menu-toplabel{
          line-height: 48px;
          padding: 0 16px;
        }

      }

    }

  }

}
